Source: curl-7-19-0
Maintainer: Oleg Pudeyev <oleg@bsdpower.com>
Section: misc
Priority: optional
Standards-Version: 3.9.2
Build-Depends: debhelper (>= 9)

Package: curl-7-19-0
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: libcurl
